<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Armando2.Properties.Settings.Database21ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database21.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\Proyecto\Database21.accdb"/>
    <add key="RootFolder" value="E:\Proyecto\"/>
  </appSettings>
</configuration>