<?xml version="1.0" encoding="utf-8"?>
<Package
   xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
   xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
   xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities">
  <Identity Name="ABC-ParaChicos"
    ProcessorArchitecture="x64"
    Publisher="CN=Sol_Judkevitch, O=Org, L=CABA, S=BSAS, C=Argentina"
    Version="***YOUR_PACKAGE_VERSION_HERE***" />
  <Properties>
    <DisplayName>ABC-ParaChicos</DisplayName>
    <PublisherDisplayName>Reserved</PublisherDisplayName>
    <Description>No description entered</Description>
    <Logo>C:\Users\c\Desktop\Proyecto\Armando\Armando\Armando\Assets</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14316.0" MaxVersionTested="10.0.14316.0" />
  </Dependencies>
  <Capabilities>
    <rescap:Capability Name="runFullTrust"/>
  </Capabilities>
  <Applications>
    <Application Id="Sol_Judke" Executable="C:\Users\c\Desktop\Proyecto\Armando\Armando2\Armando2\bin\Debug\Armando2" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
       BackgroundColor="#464646"
       DisplayName="ABC-ParaChicos"
       Square150x150Logo="C:\Users\c\Desktop\Proyecto\Armando\Armando\Armando\Assets\logoPROY.png"
       Square44x44Logo="C:\Users\c\Desktop\Proyecto\Armando\Armando\Armando\Assets\logoPROY.png"
       Description="Proyecto educativo infantil" />
    </Application>
  </Applications>
</Package>